
.top-menu {
  padding: 0;
  background-color: black;
  opacity: 0.85;
  position: sticky;
  top: 0;
}

.top-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-menu li a,
.top-menu li a:visited {
  font-size: 12px;
  line-height: 40px;
  color: var(--menu-text);
  padding: 0px 21px;
  font-weight: lighter;
  transition: all 0.2s ease-in;
}

.top-menu li a:hover {
  transition: all 0.2s ease-in;
  color: white;
}

.shop-now {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--red);
  color: white;
  font-size: 14px;
  line-height: 25px;
  font-weight: 100;
  padding: 10px;
  height: 45px;
}

.shop-now a:visited {
  color: white;
}

section.main {
  background-color: #fbedf9;
  padding: 35px;
}

.apple-logo {
  background-image: url("/assets/images/logo__dcojfwkzna2q_medium_2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 90px;
  width: 100px;
}

section div.image-wrapper {
  margin: 30px 0;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.iphone-pro {
  margin-top: 10px;
  padding-top: 35px;
  background-color: var(--whitish);
  
  background-image: url("/assets/images/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg");
  background-position: center;
  background-size: 90%;
}

section.iphone-pro h2 {
  font-weight: 400;
  font-size: 26px;
}

section.iphone-13 {
  margin-top: 10px;
  padding-top: 35px;
  background-color: var(--whitish);
  background-image: url("/assets/images/hero_iphone_13__f194u1rdooeq_medium_2x.jpg");
  background-position: center;
  background-size: 80%;
}
section.iphone-13 h1 {
  color: #f5f5f7;
}

section.iphone-13 h2 {
  color: #fcc1ea;
  font-size: 26px;
  font-weight: 400;
}

section.iphone-13 a,
section.iphone-13 a:visited {
  color: #2a91f5;
}

