:root {
  --black: #333333;
  --blue: #0066cc;
  --red: #e34140;
  --light-gray: #eeeffe;
  --whitish: #fbfbfd;
  --menu-text: #d6d6d6;
  --black-text: #1d1d1f;
}

@font-face {
  font-family: SF-Pro-Text;
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.woff");
}

* {
  box-sizing: border-box;
  font-family: "SF-Pro-Text", Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 56px;
  margin: 10px;
  letter-spacing: 0.1rem;

}

a.link , a.link:visited {
  font-size: 20px;
  color: var(--blue) ;
  letter-spacing: 0.05rem;
  display: inline;
  width: fit-content;
  white-space: nowrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
